<div>
    <app-nonnavbar></app-nonnavbar>
    <div>
        <div class="container-fluid p-4 testimonial-group" >
            <div class="row overflow-auto" >
                
                        <div *ngFor="let checklist of objetoLista" class="col-sm-3" key={key} id="widthScroll">
                            <app-checklist teste={{checklist.teste}} (adicionarItemALista)="addItem($event)" {object}={{checklist}} title={{checklist.title}}></app-checklist>
                        </div>
                
                <div class="col-sm-3">
                    <app-adicionarlista (criarLista)="addAList($event)"></app-adicionarlista>
                </div>
            </div>
        </div>
    </div>

</div>